main{
    padding: 40px;
    margin-left: 60px;
    background: #F0F0F5;
    transition: transform 1s;
}

ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    column-gap: 70px;
    row-gap: 40px;
}

ul li{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    border: 2px solid gray;
    padding: 20px;
    background-color: rgb(248, 247, 247);
    /*box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);*/
}

ul li .info{
    width: 100%;
}

ul li .info p{
    margin: 0px;
    padding: 0px;
    font-size: 25px;
}

ul li .info span{
    /*color: rgb(8, 95, 8);*/
    color: green;
    font-weight: bolder;
}

ul li img{
    width: 60px;
    align-self: center;
}

ul li:nth-child(4){
    grid-column: 1/3;
}

ul li:nth-child(4), ul li:nth-child(5){  
    height: 430px;
    padding: 0px;
    flex-direction: column;
    position: relative;
}

ul li .graphicBar{
    padding: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}

ul li .graphicBar p{
    font-size: 25px;
    margin: 0px;
    padding: 0px;
    align-self: center;
}

ul li .graphicBar p:before{
    content: '';
    border: 1px solid gray;
    width: 160px;
    left: 0px;
    position: absolute;
    top: 75px;
}

/* Engranagem */
.gearBackfround{
    width: 50px;
    height: 40px;
    background: linear-gradient(to right,#d90814, #78100d);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}

.gearBackfround img{
     width: 16px;
     height: 16px;
 }

 .gearBackfround:hover img{
     animation: 2s animateGear infinite linear;
 }

 @keyframes animateGear{
     0%{
         transform: rotate(0deg);
     }100%{
         transform: rotate(360deg);
     }
 }

/* Layouth dos gráfico gráficos */
.graphicPizza{
    width: 500px; 
    height: 400px; 
    position: absolute;
    margin-top: 70px;
    /*left: -70px;*/
    
    left: 50%;
    transform: translate(-50%, 0%);
}

.graphicLine{
    width: 950px;
    height: 400px;
    position: absolute;
    margin-top: 70px;
    /*left: -70px;*/
    left: 50%;
    transform: translate(-50%, 0%);
}

/* Tabela */

.containerHome .tableBar{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.containerHome .tableBar p{
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    align-self: center;
}

.containerHome .tableBar .gearBackfround img{
    margin-top: 13px;
}

.containerHome .container{
    width: 100%;
    margin: 0px;
    padding: 0px;
    max-width: 2000px;
}

tr td .container{
    display: flex;
    flex-direction: column;
}

tr{
    background-color: rgb(248, 247, 247);
}

table{
    border: 2px solid gray;
}

table button{
    width: 100px;
}

.containerHome .container p{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
}

tr td:nth-child(n +1) .container p{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

td span{
    font-size: 14px;
}

@media(max-width: 1250px){
    .containerHome main ul li:nth-child(4){
        grid-column: 1/4;
    }

    .graphicLine, .graphicPizza{
        top:50%;
        left: 50%;
        transform: translate(-50%, -55%);
    }

    .containerHome ul{
        column-gap: 20px;
    }

    .containerHome main ul li:nth-child(5){
        grid-row: 3;
        grid-column: 1/4;
    }

}

@media(max-width: 996px){
    .containerHome main ul{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4;
    }

    .containerHome main ul li:nth-child(2){
        grid-row: 2;
        grid-column: 1/3;
        max-width: 300px;
        justify-self: center;
    }
    .containerHome main ul li:nth-child(4){
        grid-row: 3;

    }

    .containerHome main ul li:nth-child(5){
        grid-row: 4;
    }

    .graphicLine, .graphicBar{
        width: 100%;
    }
}

@media(max-width:930px){
    .containerHome main .tableBar p{
        font-size: 20px;
        
    }
    .containerHome main .container:nth-child(3){
        width: 100%;
        overflow: scroll;
    }

    .containerHome main .container table tr td p{
        font-size: 15px;
        font-weight: bolder;
    }

    .containerHome main .container table tr td .container p{
        font-weight: normal;
    }

    .containerHome main table{
        min-width: 1000px;
    }
}

@media(max-width:680px){
    .containerHome main ul{
        display: flex;
        flex-direction: column;
    }

    .containerHome main ul li{
        min-width: 100%;
    }

    .containerHome main ul li:nth-child(n +2){
        margin-top: 20px;
    }
}

@media(max-width:520px){
    .containerHome main{
        padding: 10px;
    }
    .containerHome ul li p{
        font-size: 16px;
    }

    .graphicPizza{
        width: 400px; 
        height: 300px; 
        margin-left: 10px;
    }
}

/* Esconder menu */
@media(max-width:420px){
    .containerHome main{
        width: 100%;
        transform: translateX(-60px);
    }
}