*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containerHome{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/*Animation menu */

.containerHome label{
    width: 100%;
}

.containerHome input{
    display: none;
}

.containerHome input:checked ~ nav label .burguer span::before{
    transform: rotate(360deg);
    top:-2px;
}

.containerHome input:checked ~ nav label .burguer span::after{
    transform: rotate(448deg);
    top:-2px;
}

.containerHome input:checked ~ nav label .burguer span{
    transform: rotate(407deg);
}


/*----------*/

nav{
    display: flex;
    flex-direction: column;
    align-self: start;
    position: fixed;
    width: 60px;
    height: 100%;
    top:0px;
    left: 0px;
    background: linear-gradient(#d90814, #78100d);
    text-align: center;
    transition: 0.5s ease;
    z-index: 100;
    max-width: 60%;
}

nav .burguer{
    width: 100%;
    height: 70px;
    background-color: rgba(71, 71, 71, 0.41);
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 500;
}

nav .burguer span{
    width: 40px;
    border: 2px solid white;
    display: block;
    position: relative;
    height: 2px;
    margin-top: 30px;
    transition: 1s;
}

nav .burguer span:after,nav .burguer span:before{
    content: '';
    width: 40px;
    border: 2px solid white;
    position: absolute;
    left: -2px;
    display: block;
    transition: 1s;
}

nav .burguer span:after{
    top: -14px;
}

nav .burguer span:before{
    top: 10px;
}

nav .icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
    row-gap: 0px;
    max-width: 150px;
}

nav .icons img{
    margin-left: 15px;
    width: 30px;
    height: 30px;
    margin-top: 30px;
}

nav .icons img:hover{
    animation: animate 0.3s linear;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }25%{
        transform: rotate(20deg);
    }50%{
        transform: rotate(-20deg);
    }75%{
        transform: rotate(0deg);
    }
}

nav .icons a{
    margin-top: 30px;
    margin-left: 20px;
    text-decoration: none;
    visibility: hidden;
    color: white;
    text-align: left;
}

.containerHome .backdrop{
    background-color: rgba(71, 71, 71, 0.41);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    display: none;
}

.expand{
    width: 300px;
}

.animate{
    animation: menu 2s;
}

@keyframes menu{
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}

@media(max-width:420px){
    nav .icons img{
        width: 25px;
        height: 25px;
        margin-top: 20px;
    }
}